.HT  {
  display: flex;
  flex-direction: column;
  background-color: rgb(122, 212, 240);

}

.X {
  
  height: 100em;
}


.headerSection {
  background: #1c2237;
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}

.BottomSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #092981;
  color: white;
  border: 1px solid #2528a8;
  margin: .5rem 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #2528a8 ;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

